<!DOCTYPE html>
<html>
{% extends "EventNation/EventNation.html" %}
{% load static %}
<head>
    <title>EventNation</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'EventNation/AboutUs.css' %}">
    {% endblock %}
</head>

{% block slideshow %}{% endblock %}
{% block content %}
    <div class="about-section">
        <h1>About Us</h1>
        <p>Somos um grupo de Estudantes do ISCTE-IUL</p>
        <p>Fizemos este site no âmbito da UC - Desenvolvimento para a Internet e Aplicações Móveis</p>
    </div>

    <h2 style="text-align:center">Nós</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="{% get_static_prefix %}EventNation/images/DanielMarques.png" style="width:100%; max-width:320px; height: auto">
                <div class="container">
                    <h2>Daniel Marques</h2>
                    <p class="title">nº 70267</p>
                    <p>LEI - Licenciatura Engenheria Informática</p>
                    <p>dfcms1@iscte-iul.pt</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{% get_static_prefix %}EventNation/images/RafaelCosta.png" style="width:100%; max-width:360px; height: auto">
                <div class="container">
                    <h2>Rafael Costa</h2>
                    <p class="title">nº 92726</p>
                    <p>LEI - Licenciatura Engenheria Informática</p>
                    <p>rscaa1@iscte-iul.pt</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>

</html>