<!DOCTYPE html>
<html>
{% extends "EventNation/EventNation.html" %}
{% load static %}
{% load index %}

<head>
    <title>EventNation</title>
    <link rel="stylesheet" type="text/css" href="registar.css">
    <link rel="stylesheet" type="text/css" href="events.css">
    <link rel="stylesheet" type="text/css" href="rating.css">

</head>

{% block slideshow %}{% endblock %}
{% block content %}

    <center>
        <div class="container" style="top: 60px; max-width: 700px; left: -300px;">
            <div>
                <img src="{{% get_static_prefix %}media/{{ film.name }}.png}">
                <p style="text-align: left;">Nome</p>
                <p style="text-align: left;">Data:</p>
                <div class=" wrapper">
                    <input type="radio" name="rate" id="rate1">
                    <label for="rate1"></label>
                    <input type="radio" name="rate" id="rate2">
                    <label for="rate2"></label>
                    <input type="radio" name="rate" id="rate3">
                    <label for="rate3"></label>
                    <input type="radio" name="rate" id="rate4">
                    <label for="rate4"></label>
                    <input type="radio" name="rate" id="rate5">
                    <label for="rate5"></label>
                </div>
            </div>
            <div class="text">

                <p>Lotação: {{ bought }} / {{ film.max_tickets }}</p>
                <p>preço: {{ film.price }}</p>
                <p>Detalhes: {{ film.details }}</p>
                <p>informação adicional: {{ film.more_details }}</p>

            </div>

        </div>
    </center>

    <form action="action_page.php" style="position: absolute; top: 130px; left: 1100px;">
        <div class="container-register">
            <h1>Aquisição</h1>
            <hr>
            <label for="email"><b>conta bancária</b></label>
            <input class="input" type="text" placeholder="nº conta" name="conta" id="conta" required>

            <hr>
            <button type="submit" class="registerbtn">Adquirir</button>
        </div>

    </form>

</body>
{% endblock %}

</html>