<!DOCTYPE html>
<html>
{% extends "EventNation/EventNation.html" %}
{% load static %}
{% load index %}

<head>
    <title>EventNation</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'EventNation/registar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'EventNation/events.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'EventNation/rating.css' %}">
    {% endblock %}

</head>

{% block slideshow %}{% endblock %}
{% block content %}

    <center>
        <div class="container" style="top: 60px; max-width: 700px; left: -300px;">
            <div>
                <img style="max-width: 250px;height: auto" src="{% get_static_prefix %}media/{{ event.name }}{{ event.id }}.png">
                <p style="text-align: center; color:white">{{ event.name }}</p>
                <p style="text-align: center; color: white">Data: {{ event.date }}</p>
                <p style="color: white; text-align: center;"> Rating: {{ event.avg_rating|floatformat:1 }} </p>
            </div>
            <div class="text">

                <p>Lotação: {{ bought }} / {{ event.max_tickets }}</p>
                <p>Preço: {{ event.price }}</p>
                <p>Detalhes: {{ event.details }}</p>
                <p>informação adicional: {{ event.more_details }}</p>

            </div>

        </div>
    </center>
    <form action="{% url 'EventNation:purchase' event.id %}" method="post" style="position: absolute; top: 130px; left: 1100px;">
       {% csrf_token %}
        <div class="container-register">
            {% if maxed %}
        <h2>{{ maxed }}</h2>
    {% endif %}
        {% if organizer %}
        <h2>{{ organizer }}</h2>
    {% endif %}
            <h1>Purchase</h1>
            <hr>
            <label for="email"><b>Bank Account</b></label>
            <input class="input" type="text" placeholder="nº conta" name="conta" id="conta" required>

            <hr>
            <button type="submit" class="registerbtn">Purchase</button>
        </div>

    </form>

</body>
{% endblock %}

</html>