<!DOCTYPE html>
<html>
{% extends "EventNation/EventNation.html" %}
{% load static %}
<head>
    <title>EventNation</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'EventNation/listEvents.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'EventNation/rating.css' %}">
    {% endblock %}

</head>

{% block slideshow %}{% endblock %}
{% block content %}


    <nav style="position: absolute; background-color: black; top:150px; height: 50px;left:0px; right: 0px; margin-right:
        10px; margin-left: 10px;">
        <h1 style="color: white; text-align: center;">{{ category }}</h1>
    </nav>

    <div class="container-list" style="left: 200px;">

        {% for event in events %}
        <div class="box-1-list">
        <a href="{% url 'EventNation:eventPage' event.id %}">
            <img  src="{% get_static_prefix %}media/{{ event.name }}{{ event.id }}.png" alt="" /> </a>
            <p style="text-align: center; color:white">{{ event.name }}</p>
            <p style="text-align: center; color: white">Data: {{ event.date }}</p>
                <p style="color: white; text-align: center;"> Rating: {{ event.avg_rating}} </p>
        </div>
        {% endfor %}
    </div>

{% endblock %}
</body>
</html>