<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>EventNation</title>
    <link rel="stylesheet" type="text/css" href="{% static 'EventNation/slideshow.css' %}">
</head>

<body style="background-color: rgb(2, 17, 31); ">
    <h1 style="text-align: center; color: white;">EventNation</h1>
    <nav style="background-color: orange; height:50px; position: absolute; left: 0px; right: 0px;">

        <a style="color: black; position: relative; top: 10px; left: 50px; font-size: large" href="#contact">Contact</a>
        <a style="color: black; position: relative; top: 10px; left: 100px; font-size: large" href="#contact">Tipos</a>
        <a style="color: black; position: relative; top: 10px; left: 150px; font-size: large" href="#about">About</a>
        <a style="color: black; position: absolute; top: 10px; right: 80px; font-size: large" href="#login">Login</a>
        <a style="color: black; position: absolute; top: 10px; right: 10px; font-size: large" href="#sign in">Sign
            In</a>
    </nav>

    <div class="slideshow-container" style="position:relative; top: 100px;">

        <div class="mySlides fade">
            <img class="img-dimension" src="{% static 'EventNation/images/iscte1.jpg' %}" style="width:100%">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">

            <img class="img-dimension" src="{% static 'EventNation/images/iscte_logo.png' %}" style="width:100%">
            <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
            <img class="img-dimension" src="{% static 'EventNation/images/party.jfif' %}" style="width:100%">
            <div class="text">Caption Three</div>
        </div>

    </div>
    <br>

    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            slides[slideIndex - 1].style.display = "block";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>


    <div class="div">
        <div style="position:absolute; top:500px; height: 50px; left: 0px; right: 0px;">
            <nav style="background-color: orange;position:relative; top: 150px;height:50px; left: 0px; right: 0px;">
                <a style="color: black; position: relative; top: 10px; left: 10px; font-size: large;"
                    href="#festival">Festival</a>
                <a style="color: black; position: absolute; top: 10px; right: 10px; font-size: large"
                    href="#sign in">Ver
                    mais +</a>
            </nav>
            <div class="images-horizontal" style="position:relative; top: 150px; height :50px; left: 0px; right: 0px;">
                <img style="display: inline; margin: 5px;" src="{% static 'EventNation/images/comedia.jpg' %}" alt="" width="150" height="50" />
                <img style="display: inline; margin: 0 5px;" src="{% static 'EventNation/images/comedi1.jpg' %}" alt="" width="150" height="50" />
                <img style="display: inline; margin: 0 5px;" src="{% static 'EventNation/images/comedi2.jpg' %}" alt="" width="150" height="50" />
            </div>
        </div>

        <div style="position:relative; top:150px; height :50px; left: 0px; right: 0px;">
            <nav style="background-color: orange; position:relative; top: 1px; height: 50px; left: 0px; right: 0px;">
                <a style="color: black; position: relative; top: 10px; left: 10px; font-size: large;"
                    href="#festival">Comédia</a>
                <a style="color: black; position: absolute; top: 10px; right: 10px; font-size: large"
                    href="#sign in">Ver
                    mais +</a>
            </nav>
            <div class="images-horizontal" style="position:relative;">
                <img style="display: inline; margin: 0 5px;" src="{% static 'EventNation/images/comedia.jpg' %}" alt="" width="150" height="50" />
                <img style="display: inline; margin: 0 5px;" src="{% static 'EventNation/images/comedi1.jpg' %}" alt="" width="150" height="50" />
                <img style="display: inline; margin: 0 5px;" src="{% static 'EventNation/images/comedi2.jpg' %}" alt="" width="150" height="50" />
            </div>
        </div>

        <div style="position:relative; top:0px; height :50px; left: 0px; right: 0px;">
            <nav style="background-color: orange; position:relative; top: 1px; height: 50px; left: 0px; right: 0px;">
                <a style="color: black; position: relative; top: 10px; left: 10px; font-size: large;"
                    href="#festival">Concerto</a>
                <a style="color: black; position: absolute; top: 10px; right: 10px; font-size: large"
                    href="#sign in">Ver
                    mais +</a>
            </nav>
            <div class="images-horizontal" style="position:relative;">
                <img class="img" style="display: inline; margin: 0 5px;" src="{% static 'EventNation/images/comedia.jpg' %}" alt="" width="150"
                    height="50" />
                <img class="img" style="display: inline; margin: 0 5px;" src="{% static 'EventNation/images/comedi1.jpg' %}" alt="" width="150"
                    height="50" />
                <img class="img" style="display: inline; margin: 0 5px;" src="{% static 'EventNation/images/comedi2.jpg' %}" alt="" width="150"
                    height="50" />
            </div>
        </div>
    </div>

</body>

</html>