<!DOCTYPE html>
<html>
{% extends "EventNation/EventNation.html" %}
{% load static %}
{% load index %}
<head>
    <title>EventNation</title>
    <link rel="stylesheet" type="text/css" href="events.css">
    <link rel="stylesheet" type="text/css" href="rating.css">
</head>
{% block slideshow %}{% endblock %}
{% block content %}
    <center>
        <div class="container">
            <div>
                <img src="{% get_static_prefix %}media/{{ film.name }}.png">
                <p style="text-align: left;">{{ film.name }}</p>
                <p style="text-align: left;">Data: {{ film.date }}</p>
                <div class=" wrapper">
                    <p style="position: relative; left: 7px; color: white">Rating: {{ event.avg_rating }}</p>
                </div>
                <button class="button" style="width: 100%;">Adquirir</button>
            </div>
            <div class="text">

                <p>Lotação: {{ bought }} / {{ event.max_tickets }}</p>
                <p>preço: {{ event.price }}</p>
                <p>Detalhes: {{ event.details }}</p>
                <p>informação adicional: {{ event.more_details }}</p>

            </div>

        </div>
    </center>

    <center>
        <form action="{% url 'EventNation:comment' event.id %}" method="POST">
           <h2>Comentário: <input type="text" name="comment" id="comment" value="{{ comment.id }}" /></h2>
            <br>
            <input type="submit" name="submit" value="Send">
        </form>
    </center>

    {% if comments %}
    <ul>
    {% for comment in comments %}
<li>{{ comment.comment }}</li>
{% endfor %}
    </ul>
{% endif %}

</body>
{% endblock %}

</html>