<!DOCTYPE html>
<html>
{% load static %}
{% load index %}
<head>
    <title>EventNation</title>
    <link rel="stylesheet" type="text/css" href="{% static "EventNation/slideshow.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'EventNation/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'EventNation/rating.css' %}">
</head>
{% block nav %}
<body style="background-color: white;">

    <center>
        <h1><a href="{% url 'EventNation:home' %}">EventNation</a></h1>
    </center>
    <nav style="background-color: black; height:50px; position: absolute; left: 0px; right: 0px;">
        <h4 style="color: white; position: absolute; left: 50px; font-size: large; margin-top: 15px;" href="#contact">
            About</h4>
        <h4 style="color: white; position: absolute; left: 150px; font-size: large; margin-top: 15px;" href="#contact">
            Top Rated
        </h4>
        {% if not request.user.is_authenticated %}
        <h4 style="color: white; position: absolute; right: 150px; font-size: large; margin-top: 15px;"> <a href="{% url 'EventNation:login' %}">
            Login
        </a></h4>
        <h4 style="background-color:white; color:black; position: absolute; margin-top: 15px; right: 40px; font-size: large">
            <a href="{% url 'EventNation:CreateUser' %}">Register</a></h4>
    {% else %}
    <h4 style="color: white; position: absolute; right: 150px; font-size: large; margin-top: 15px;"> <a href="{% url 'EventNation:profile' %}">
            {{ request.user.username }}
        </a></h4>
        <h4 style="background-color:white; color:black; position: absolute; margin-top: 15px; right: 40px; font-size: large">
            <a href="{% url 'EventNation:logout' %}">Log out</a></h4>
    {% endif %}
    </nav>
    {% endblock %}
{% block content %}
    <div>
        <div class="slideshow-container">

            <div class="mySlides fade">
                <img class="img-dimension" src="{% static 'EventNation/images/iscte1.jpg' %}" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img class="img-dimension" src="{% static 'EventNation/images/iscte_logo.png' %}" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img class="img-dimension" src="{% static 'EventNation/images/party.jfif' %}" style="width:100%">
            </div>

        </div>
        <br>

        <script>
            let slideIndex = 0;
            showSlides();

            function showSlides() {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("dot");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) { slideIndex = 1 }
                slides[slideIndex - 1].style.display = "block";
                setTimeout(showSlides, 2000); // Change image every 2 seconds
            }
        </script>

        <div class="div" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
            <div class="div-category" style="top:530px;">

                <nav class="nav-category">
                    <a style="color: white; position: relative; top: 10px; left: 10px; font-size: large;"
                        href="{% url 'EventNation:category' 'festival' %}">Festival</a>
                    <a style="color: white; position: absolute; top: 10px; right: 10px; font-size: large"
                        href="{% url 'EventNation:category' 'festival' %}">Ver
                        mais +</a>
                </nav>

                <div class="container">
                    {% for fest in festival %}
                    <div class="box-1">
                        <img style="max-width: 250px;height: auto" src="{% get_static_prefix %}media/{{ fest.name }}.png" alt="" />
                        <p style="position: relative; left: 7px; color:white">{{ fest.name }}</p>
                        <div class="wrapper">
                             <input type="radio" name="rate" id="rate1">
                            <label for="rate1"></label>
                            <input type="radio" name="rate" id="rate2">
                            <label for="rate2"></label>
                            <input type="radio" name="rate" id="rate3">
                            <label for="rate3"></label>
                            <input type="radio" name="rate" id="rate4">
                            <label for="rate4"></label>
                            <input type="radio" name="rate" id="rate5">
                            <label for="rate5"></label>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="box-1" style="background-color: gray;">
                        <h2 style="text-align: center;">Top Rated</h2>
                        <ul style="position: relative; left: 20px;">
                           {% for fest in festivalRating %}
                            <li>{{ rating }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="div-category" style="top:990px;">
                <nav class="nav-category">
                    <a style="color: white; position: relative; top: 10px; left: 10px; font-size: large;"
                        href="{% url 'EventNation:category' 'comedia' %}">Comédia</a>
                    <a style="color: white; position: absolute; top: 10px; right: 10px; font-size: large"
                        href="{% url 'EventNation:category' 'comedia' %}">Ver
                        mais +</a>
                </nav>

                <div class="container">
                    {% for com in comedia %}
                    <div class="box-1">
                        <img style="max-width: 250px;height: auto" src="{% get_static_prefix %}media/{{ com.name }}.png" alt="" />
                        <p style="position: relative; left: 7px; color:white">{{ com.name }}</p>
                        <div class="wrapper">
                            <p> Rating: {{ com.avg_rating }}</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="box-1" style="background-color: gray;">
                        <h2 style="text-align: center;">Top Rated</h2>
                        <ul style="position: relative; left: 20px;">
                            {% for rating in comediaRating %}
                            <li>{{ rating }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="div-category" style="top:1450px;">
                <nav class="nav-category">
                    <a style="color: white; position: relative; top: 10px; left: 10px; font-size: large;"
                        href="{% url 'EventNation:category' 'concerto' %}">Concerto</a>
                    <a style="color: white; position: absolute; top: 10px; right: 10px; font-size: large"
                        href="{% url 'EventNation:category' 'concerto' %}">Ver
                        mais +</a>
                </nav>
                <div class="container">
                    {% for conc in concerto %}
                    <div class="box-1">
                        <img style="max-width: 250px;height: auto" src="{% get_static_prefix %}media/{{ conc.name }}.png" alt="" />
                        <p style="position: relative; left: 7px; color:white">{{ conc.name }}</p>
                        <div class="wrapper">
                            <p> Rating: {{ conc.avg_rating }}</p>
                        </div>
                    </div>
                {% endfor %}

                    <div class="box-1" style="background-color: gray;">
                        <h2 style="text-align: center;">Top Rated</h2>
                        <ul style="position: relative; left: 20px;">
                            {% for rating in concertoRating %}
                            <li>{{ rating }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</body>

</html>