
{% for evento in latest_event_list %}
<li>
<a href="{% url 'EventNation:home' %}">
{{ evento.name }}
</a>
</li>
{% endfor %}

{% if request.user.organizer %}
<p><a href="{% url 'EventNation:createEvent' %}">Start your own Event</a></p>
{% endif %}



{% if not request.user.is_authenticated %}
<p><a href="{% url 'EventNation:createUser' %}">Sign Up</a></p>
<p><a href="{% url 'EventNation:login' %}">Sign In</a></p>
{% endif %}
{% if request.user.is_authenticated %}
    {% if not request.user.organizer %}
        <p><a href="{% url 'EventNation:organizer' %}">Become an Organizer</a></p>
        {% endif %}
<p><a href="{% url 'EventNation:logout' %}">Logout</a></p>
{% endif %}
