<!DOCTYPE html>
<html>
{% extends "EventNation/EventNation.html" %}
{% load static %}
<head>
    <title>EventNation</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'EventNation/listEvents.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'EventNation/rating.css' %}">
    {% endblock %}

</head>

{% block slideshow %} {% endblock %}
{% block content %}


    <div class="div">
    {% if not request.user.is_superuser %}
        <img style="max-height: 200px; width: auto" src="{% get_static_prefix %}media/{{ request.user.id }}.png" alt="">
        {% endif %}
        <h2 style="color: white; margin-left: 5px;">{{ request.user.username }}</h2>
        <h2 style="color: white; margin-left: 5px;">{{ request.user.email }}</h2>
    </div>
{% if not request.user.is_superuser %}
    <nav
        style="position: absolute; background-color: black; top:150px; left: 250px; height: 50px; right: 0px; margin-right: 10px;">
        <h1 style="color: white; text-align: center;">Lista de Eventos</h1>
    </nav>


    <div class="container-list">
        {% for event in events %}
        <div class="box-1-list">
             <a href="{% url 'EventNation:eventPage' event.id %}">
                 <img src="{% get_static_prefix %}media/{{ event.name }}{{ event.id }}.png" alt="" /></a>
            <p style="text-align: center; color:white">{{ event.name }}</p>
            <p style="text-align: center; color: white">Data: {{ event.date }}</p>
            <p style="color: white; text-align: center;"> Rating: {{ event.avg_rating|floatformat:1 }} </p>
        </div>
        {% endfor %}
    </div>
    {% if request.user.organizer %}
        <button style="position: absolute; top: 500px; left: 20px;"><a href="{% url 'EventNation:createEvent' %}">Crie um evento
        </a></button>
    {% endif %}
{% endif %}
</body>
{% endblock %}

</html>