<!DOCTYPE html>
<html>
{% extends "EventNation/EventNation.html" %}
{% load static %}
{% load index %}
<head>
    <title>EventNation</title>
    <link rel="stylesheet" type="text/css" href="rating.css">
    <link rel="stylesheet" type="text/css" href="listEvents.css">

</head>

<body style="background-color: white;">
    <center>
        <h1>EventNation</h1>
    </center>
    <nav style="background-color: black; height:50px; position: absolute; left: 0px; right: 0px;">
        <h4 style="color: white; position: absolute; left: 50px; font-size: large; margin-top: 15px;" href="#contact">
            About</h4>
        <h4 style="color: white; position: absolute; left: 150px; font-size: large; margin-top: 15px;" href="#contact">
            Top Rated
        </h4>
        <h4 style="color: white; position: absolute; right: 120px; font-size: large; margin-top: 15px;" href="#login">
            Nome do user
        </h4>
        <h4 style="background-color:white; color:black; position: absolute; margin-top: 15px; right: 40px; font-size: large"
            href="#Logout">Log out</h4>
    </nav>


    <div class="div">
        <img src="comedi1.jpg" alt="">
        <h2 style="color: white; margin-left: 5px;">Nome</h2>
        <h2 style="color: white; margin-left: 5px;">+info se necessário</h2>
    </div>

    <nav
        style="position: absolute; background-color: black; top:150px; left: 250px; height: 50px; right: 0px; margin-right: 10px;">
        <h1 style="color: white; text-align: center;">Lista de Eventos</h1>
    </nav>



    <div class="container-list">
        {% for film in films %}
        <div class="box-1-list">
            <img src="{% get_static_prefix %}media/{{ film.name }}.png" alt="" />
            <p style="position: relative; left: 7px; color:white">{{ film.name }}</p>
            <p style="position: relative; left: 7px; color: white">data: {{ film.date }}</p>
            <div class="wrapper">
                <p style="position: relative; left: 7px; color: white">Rating: {{ film.avg_rating }}</p>
            </div>
        </div>
        {% endfor %}


    </div>

</body>

</html>